.sat-tracker {
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.sat-tracker svg {
    background-color: #333;
}

path.land {
    stroke: none;
    fill: #555;
}

path.countries {
    fill: none;
    stroke: #ccc;
}

path.grid {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.5;
    display: none;
}

path.border {
    fill: none;
    stroke: #ccc;
}

path.solar-terminator {
    fill: rgba(0,0,0,0.4);
}

.ground-tracks path {
    stroke: #ccc;
    stroke-width: 2;
    fill: none;
}